av==11.0.0
einops
flashy>=0.0.1
ffmpy
ftfy
gensim
h5py
httpx
huggingface-hub
hydra-core>=1.1
hydra_colorlog
julius
librosa==0.11.0
numpy<2.0.0
opencv-python-headless==4.11.0.86
pydub
requests
scipy
soundfile
torch==2.5.1
torchaudio==2.5.1
torchmetrics
torchvision==0.20.1
tqdm
transformers==4.35.0
xformers==0.0.28.post3
zipp
