# @package __global__

classifier_free_guidance:
  training_dropout: 0.1
  inference_coef: 3.0

attribute_dropout:
  args:
    active_on_eval: false
  video:
    visual_content: 0.5
  finegrained_content:
    finegrained_content: 0

fuser:
  cross_attention_pos_emb: false
  cross_attention_pos_emb_scale: 1
  in_atten : false
  sum: []
  prepend: [visual_content]
  cross: [finegrained_content]
  input_interpolate: []

conditioners:
  visual_content:
    model: clip
    clip:
      name: ViT-L/14@336px

  finegrained_content:
    model: fusionnet
    fusionnet:
      video_dim: 1024
      fusion_dim: 768
      layers: 4
      heads: 8

dataset:
  shuffle: true
